.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.navBar {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.headerItem{
 
}

.headerItemRight {
  margin-left: auto; 
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}

a {
  background-color: aquamarine;
  text-decoration: none;
}

.CPSC110 {
  background-image: linear-gradient(red, yellow);
}
.CPSC210{
  background-image: linear-gradient(#B3FFAB, #12FFF7);
}

.CPSC310{

  background-image: linear-gradient(#000000, #e74c3c);

}

.ECON101{

  background-image: linear-gradient(#F0C27B, #4B1248);

}

.ECON102{
  background-image: linear-gradient(#FBD3E9, #BB377D);

}

.ECON355{
  background-image: linear-gradient(#606c88, #3f4c6b);


}

